# Local Environment Settings
PORT=3001
NODE_ENV=development

# AI Provider Settings
# Options: mock, gemini
AI_PROVIDER=gemini
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# Database Provider Settings
# Options: local, dynamodb
DATABASE_PROVIDER=local

# Storage Provider Settings
# Options: local, s3
STORAGE_PROVIDER=local
